<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
      <!-- Fill in your consumer key and secret here to make the OAuth sample work. -->
      <!-- Twitter sign-up: https://dev.twitter.com/ -->
      <add key="consumerKey" value="fxMVYbiEuYPW9ETGjXQomQ47I" />
      <add key="consumerSecret" value="6iGUjYEr9J1OJvM4NoB2V1k6Ou2O056X1mZlGAnlazGsjtQa0p" />
      <add key="oauthToken" value="24756682-Hs4ljw8TgOc61Sxb6mRe0FmK0EnFWvFJzN75omemC" />
      <add key="oauthTokenSecret" value="0bqZgKaJj60jTpM6anWC4rOrT7ftYk3EW0EsUIIKd2jRA" />
      <add key="accessToken" value="24756682-Hs4ljw8TgOc61Sxb6mRe0FmK0EnFWvFJzN75omemC" />
      <add key="accessTokenSecret" value="0bqZgKaJj60jTpM6anWC4rOrT7ftYk3EW0EsUIIKd2jRA" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>